name: Deploy Firestore Rules

on:
  push:
    branches:
      - main
    paths:
      - 'firestore.rules'
      - 'firebase.json'
      - '.github/workflows/deploy-firebase.yml'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Deploy Firestore Rules
        run: firebase deploy --only firestore --token "${{ secrets.FIREBASE_TOKEN }}"
